.sidebar-container {
    /* font-style:italic; */
    background-color: rgb(206, 233, 190);
    display: flex;
    flex-direction: column;
    width:15%;
 height:100%;
}
.sidebar-h1{
    height: fit-content;
} 
   
